<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productor App <span *ngIf="connected"> - Hello {{connecterUserEmail}}</span>
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="openModal()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="connected">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card test</ion-card-subtitle>
            <ion-card-title>Stock Management</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button expand="block" (click)="addProductModal()">Add product to stock</ion-button><br>
            <ion-row  style="margin-bottom:10px;background-color: rgb(170, 170, 170);padding: 10px;border-radius: 10px;color:black;">
              <ion-col>Product Name</ion-col><ion-col>Description</ion-col><ion-col>Quantity</ion-col>
            </ion-row>
            <ion-grid style="overflow-x: hidden;overflow-y:scroll;height: 500px;">
              
              <ion-row  (click)="modifyProductModal(product)"  *ngFor="let product of productsInventory | async" style="margin-bottom:10px;background-color: black;padding: 10px;border-radius: 10px;">
                <ion-col>{{ product.Name | json }}</ion-col>
                <ion-col>{{ product.Desc | json }}</ion-col>
                <ion-col>{{ product.Quantity | json }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Expiration Dates Alerts</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <!-- <div>{{todayDate | date:'yyyy-MM-dd'}}</div> -->
            <ion-row style="margin-bottom:10px;background-color: rgb(170, 170, 170);padding: 10px;border-radius: 10px;color:black;">
              <ion-col>Product Name</ion-col><ion-col>Quantity</ion-col><ion-col>Expiration Date</ion-col>
            </ion-row>
            <ion-grid style="overflow-x: hidden;overflow-y:scroll;height: 500px;">
              
              <div *ngFor="let i of getTransactionList | async">
                <ion-row (click)="modifyProductModal(i)" *ngIf="i.expirationDate < returnTodayDate()" [ngStyle]="i.expirationDate < returnTodayDate() && {'background-color': 'red', 'color': 'black'}" style="margin-bottom:10px;background-color: black;padding: 10px;border-radius: 10px;">
                  <ion-col>{{ i.Name | json }}</ion-col>
                  <ion-col>{{ i.Quantity | json }}</ion-col>
                  <ion-col>{{ i.expirationDate | json }}</ion-col>
                  <!-- <p><strong>Item Key: </strong>{{i | json}}</p> -->

                </ion-row>
              </div>

              <div *ngFor="let i of getTransactionList | async">
                <div *ngIf="i.expirationDate > returnTodayDate()">
                  <ion-row (click)="modifyProductModal(i)" *ngIf="i.expirationDate <= returnInSevenDay()" [ngStyle]="i.expirationDate <= returnInSevenDay() && {'background-color': 'orange', 'color': 'black'}" style="margin-bottom:10px;background-color: black;padding: 10px;border-radius: 10px;">
                    <ion-col>{{ i.Name | json }}</ion-col>
                    <ion-col>{{ i.Quantity | json }}</ion-col>
                    <ion-col>{{ i.expirationDate | json }}</ion-col>
                  </ion-row>
                </div>                
              </div>

              <!-- <div *ngFor="let i of getTransactionList | async">
                <ion-row (click)="modifyProductModal(i)" *ngIf="i.expirationDate > returnInSevenDay()" [ngStyle]="i.expirationDate > returnTodayDate() && {'background-color': 'green', 'color': 'black'}" style="margin-bottom:10px;background-color: black;padding: 10px;border-radius: 10px;">
                  <ion-col>{{ i.Name | json }}</ion-col>
                  <ion-col>{{ i.Quantity | json }}</ion-col>
                  <ion-col>{{ i.expirationDate | json }}</ion-col>
                </ion-row>
              </div> -->
            </ion-grid>
            <ion-button color="danger" (click)="deleteAll()">Reset inventory</ion-button><br><br>            
          </ion-card-content>
        </ion-card>
      </ion-col>

      
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Delivery Management</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>

              <ion-row style="margin-bottom:10px;background-color: rgb(170, 170, 170);padding: 10px;border-radius: 10px;color:black;">
              <ion-col>Order Date</ion-col>
              <ion-col>Products</ion-col>
              <!-- <ion-col>Productor name</ion-col> -->
            </ion-row>
            <ion-grid  style="overflow-x: hidden;overflow-y:scroll;height: 500px;">
              <div *ngFor="let order of ordersInventory | async">
                <ion-row *ngIf="order.productorName.includes(connecterUserEmail)"  style="margin-bottom:10px;background-color: black;padding: 10px;border-radius: 10px;">
                  <ion-col>{{ order.orderDate | json }}</ion-col>
                  <ion-col>{{ order.products | json }}</ion-col>
                  <!-- <ion-col>{{ order.productorName | json }}</ion-col> -->
                </ion-row>
              </div>

              
              

              

            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Product Localization</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint cumque tenetur soluta perspiciatis amet consequatur, inventore optio numquam alias non.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
